.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.title{
    font-size: 3rem;
    padding: 25px 0;
}

.list{
    display: flex;
    overflow: hidden;
}
